@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Nanum+Gothic&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

body{
  margin: 0px;
  background-color: #c5c5c5;
}

*{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-left:  20px;
  margin-right: 20px;
  display: inline-block;
}

.flex_container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.prod{
  max-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px #ababab;
  margin: 20px;
  padding: 10px;
}

.prod_img{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img{
  width: 100%;
  height: 100%;
}

.desc{
  font-family: 'Assistant', sans-serif;
  position: relative;
  text-align: center;
  word-break: break-all;
}

.btn{
   background-color:#3369ff;
   color:#FFFFFF;
   box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
   padding:5px 10px;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
