@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');


body{
  margin: 0px;
  background-image: url(gradient1.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Assistant', sans-serif;
}

.flex_container{
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

.signuptxt{
  text-align: center;
}

.sign_frm{
  margin: auto;
  width: 600px;
  /*height: 400px;*/
  background-color: white;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.3);
/*  text-align: center;*/
  padding: 20px;
}

.email, .uname, .pword, .fname, .lname, .contact_num, .street, .city, .province, .postal_code{
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;

}

h3{
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 5px;
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
}

.signupbtn{
  text-align: center;
}

.signup{
  margin: 20px;
   background-color:#3369ff;
   color:#FFFFFF;
   box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
   padding:5px 10px;
   font-size: 25px;
   font-weight: bold;
   font-family: 'Questrial', sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.uname, .pword, .email{
  margin-bottom: 20px;
/*  margin-top: 20px;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;

}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #e6e6e6;
  outline: none;
}

.signupvalidation{
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
}
